.App {
  text-align: center;
}

.navbar {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  border-bottom: 5px solid#fff;
  border-color: whitesmoke;
}

.nav-left {
  margin: 10px 0px;
  margin: flex;
  margin-left: 10px;
}

.nav-left-button {
  background-color: transparent;
  padding: 8px 16px;
  cursor: pointer;
  border-width: 4px;
  border-color: whitesmoke;
  border-style: solid
}

.nav-left-button:nth-child(2) {
  margin-left: -4px;
  margin-right: -4px;
}

.nav-right {
  align-items: flex-end;
  margin: 10px;
}

.nav-right-button {
  background-color: transparent;
  padding: 8px 16px;
  border-color: whitesmoke;
  cursor: pointer;
  border-style: solid;
  border-width: 3px;
  border-color: #add8e6;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  width: 65%;
  margin: 10px;
  margin-left: auto;
}

.search-container {
  margin-left: auto;
  width: fit-content;
  height: fit-content;
  border: 2px solid #add8e6;
  border-radius: 10px;
  border-width: 3px;
}

#search-input {
  background-color: transparent;
  text-align: center;
  height: 22px;
  font-size: 24px;
  border: none;
  outline: none;
}

.search-bar-button {
  background-color: transparent;
  border: 0;
  padding: 7px 16px;
  cursor: pointer;
}

.feed {
  margin-top: 100px;
  position: fixed;
  left: 30%;
  width: 40%;
  border: 5px solid whitesmoke;
  height: 70%;
}

.happening-container {
  background-color: #add8e6;
  padding: 25px;
  border-radius: 0px;
  display: flex;
}

.happening-image {
  margin-left: 10px;
  margin-right: 160px;
}

#happening-input {
  margin: 15px 0px;
}

.happening-bar-button {
  margin: 15px 0px;
}

.feedpics {
  margin: 20px;
  margin-right: 30px;
  float: left;
  border-radius: 50%;
}

.posts {
  overflow: auto;
  height: 100%;
}

.profile {
  margin-left: 2.5%;
  margin-top: 100px;
  border: 5px solid whitesmoke;
  width: 25%;
  height: 10vw;
  position: fixed;
  background-image: linear-gradient(to top, white 50%, #add8e6 50%);
}

.profilepic {
  float: left;
  border-radius: 50%;
  margin: 20px;
  margin-top: 13%;
}

.profilename {
  font-size: x-large;
  font-weight: bolder;
  margin: 20px;
  margin-left: 180px;
  margin-top: 75px;
  margin-bottom: 50px;
}

.profile-links {
  margin-bottom: 25px;
  margin-left: 75px;
}

.info {
  margin: 10px;
}

.info-box {
  margin-left: 2.5%;
  margin-top: 20vw;
  border: 5px solid whitesmoke;
  width: 25%;
  position: fixed;
}

.friends {
  margin-top: 100px;
  margin-left: 72%;
  width: 25%;
  height: fit-content;
  border: 5px solid whitesmoke;
  position: fixed;
}

.friend {
  margin: 10px;
  height: 85px;
}

.friendsPic {
  float: left;
  margin: 10px;
}

.add-button {
  background-color: #4f7dc8;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 16px;
}

.add-button:hover {
  background-color: rgb(0, 0, 255);
}